<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:soa="http://www.tstd2.com/schema/soa"
    xmlns:context="http://www.springframework.org/schema/context"

	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context.xsd
						http://www.tstd2.com/schema/soa
						http://www.tstd2.com/shcema/soa.xsd">

    <context:component-scan base-package="com.tstd2" />
    <context:annotation-config/>

    <soa:registry protocol="redis" address="127.0.0.1:6380" />
	<!--<soa:registry protocol="zookeeper" address="10.10.40.27:2181" />-->

    <soa:annotation package="com.tstd2.soa.annotation" />

    <soa:protocol port="9000" threads="200" serialize="hession2" />

</beans>